@model ASOC.WebUI.ViewModels.CostViewModel
@{
    ViewBag.Title = "ReportWeb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Расчет затрат с @Model.firstStringDate по @Model.secondStringDate </h2>

